<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="coverlet.console" />
      <package pattern="dotnet-reportgenerator-globaltool" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="StackExchange.Redis" />
    </packageSource>
  </packageSourceMapping>
</configuration>
