<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Serilog.Formatting.Compact" />
      <package pattern="Serilog.Settings.Configuration" />
      <package pattern="coverlet.console" />
      <package pattern="dotnet-reportgenerator-globaltool" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="StackExchange.Redis" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.Diagnostics.Abstractions" />
      <package pattern="Microsoft.Extensions.FileProviders.Abstractions" />
      <package pattern="Microsoft.Extensions.Hosting.Abstractions" />
      <package pattern="Serilog" />
      <package pattern="Serilog.AspNetCore" />
      <package pattern="Serilog.Extensions.Hosting" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="Serilog.Sinks.Debug" />
      <package pattern="Serilog.Sinks.File" />
      <package pattern="Serilog.Enrichers.Environment" />
      <package pattern="Serilog.Enrichers.Thread" />
      <package pattern="Serilog.Enrichers.Process" />
    </packageSource>
  </packageSourceMapping>
</configuration>
